
/* -----------------------------------------------------
    Startseite Header Slideshow
   ----------------------------------------------------- */
#block-views-front_header_slider-block_2 {

}
.front .view-front-header-slider {
  position: relative;
}
.front .view-front-header-slider .views-slideshow-cycle-main-frame-row {
  width: 100%!important;
}
.front .view-front-header-slider .views-row {
  width: 100%;
}
.front .view-front-header-slider .ds-2col {
  width: 100%;
  
}
.front .view-front-header-slider .ds-2col .group-left {
  text-align: right;
  height: 100%;
  position: relative;
}
.front .view-front-header-slider .ds-2col .group-left a {
  display: block;
  height: 317px;
}
.front .view-front-header-slider .ds-2col .group-left img {
  position: absolute;
  bottom: 0;
  right: 25px;
}
.front .view-front-header-slider .ds-2col .group-right {
  margin-top: 40px;
}
.front .view-front-header-slider .ds-2col .group-right .views-field-title a {
  font-family: georgia,times,sans-serif;
  font-size: 2.5em;
  line-height: 1.7em;
  background-color: transparent;
}
.front .view-front-header-slider .ds-2col .group-right .views-field-body p {
  width: 70%;
  font-family: georgia,times,sans-serif;
  font-size: 1.6em; 
  color: #999;
  line-height: 1.4;
  letter-spacing: -0.005em;
}
.front .view-front-header-slider .ds-2col .group-right .views-field-body a {
  font-family: verdana,helvetica,sans-serif;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1;
  display: block;
}

/** Pager **/
.front .view-front-header-slider .views-slideshow-controls-bottom {
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 20%;
  z-index: 25;
}
.views-slideshow-controls-bottom .views-content-counter {
  cursor: pointer;
  cursor: hand;
  float: left;
  width: 2em;
  background:url(../images/new-adapted/pager-bg.png) no-repeat;
  text-align: center;
  margin-right: 5px;
  line-height: 24px;
  width: 23px;
  padding-bottom: 3px;
  padding-right: 4px;
  color: #777;
  font-size: 0.93em;
}
.views-slideshow-controls-bottom .active .views-content-counter,
.views-slideshow-controls-bottom .active .views-content-counter:hover {
  color: #ED8137;
  color: #222;
  font-weight: bold;
}
/** Partners Block on About Us **/
.block.partner-agenturen {
  background: #ddd;
  padding: 10px 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.block.partner-agenturen p {
  margin: 0;
}
.block.partner-agenturen h2.partner-title,
.block.partner-agenturen .partner-angermann-webdesign,
.block.partner-agenturen .partner-undpaul {
  float: left;
}
.block.partner-agenturen h2.partner-title {
  font-size: 1.8em;
}
.block.partner-agenturen .partner-angermann-webdesign {
  padding: 12px 10px 0 25px;
}
.block.partner-agenturen .partner-undpaul {
  padding: 15px 10px 0 20px;
}
.page-node-190 #footer {
  border-top: none;
}
