/** Block Footer **/
#footer #block-views-Newsblock_Startseite-block_2 {
  width: 50.5%;
  float: left;
}
#footer #block-views-Newsblock_Startseite-block_2 .view-Newsblock-Startseite {
  padding-right: 30px;
}
#footer h2.block-title {
	color: #575757;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
	font-style: normal;
	text-transform: uppercase;
	margin-top: 0px;
	border-width:0px;
}

/** News Block ohne Drupal Footer **/
#footer #block-views-Newsblock_Startseite-block_3 {
  width: 28.5%;
  float: left;
}
#footer #block-views-Newsblock_Startseite-block_3 .view-Newsblock-Startseite {
  padding-right: 30px;
}

/** Gallery Block Footer **/
#footer #block-views-gallery_list-block_2 {
  width: 20%;
  float: left;
}
#footer #block-views-gallery_list-block_2 h2.block-title {
  margin-bottom: 15px;
  padding-left: 3px;
}
/** Newest Images Block Sidebar **/
#block-views-gallery_list-block_1 .field-content {
  float: left;		
}