/*-------------------------------- */
/*-------------------------------- */
/*------ Layout all Devices ------ */
/*-------------------------------- */
/*-------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\000039}}
#footer {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000311}}
#footer .block {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #d7d7d7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000315}}
#footer .block.contact-footer {
  padding-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000317}}
#footer #block-boxes-footer_drupal_box {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000322}}
#footer .contact-footer div, #footer .contact-footer a {
  font-size: 15px;
  font-style: normal;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000325}}
#footer .contact-footer .telefon {
  margin-top: 15px;
  height: 30px;
  line-height: 25px;
  padding-left: 33px;
  background: url(../images/new-adapted/telefon-klein.png) no-repeat 2px center;
  display: inline-block;
  line-height: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000333}}
#footer .contact-footer .email {
  height: 40px;
  line-height: 35px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000336}}
#footer .contact-footer .email span.mailto {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000338}}
#footer .contact-footer .email a {
  padding-left: 33px;
  background: url(../images/new-adapted/email-icon.png) no-repeat -3px center;
  line-height: 35px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000343}}
#footer h2.block-title {
  color: #575757;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 12px;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 0px;
  border-width: 0px;
}

/*------------------------------------------------*/
 * News Block Sidebar */
/*------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000360}}
#sidebar-second .view-Newsblock-Startseite .views-row {
  border-bottom: 1px solid #dadada;
  padding-bottom: 7px;
  padding-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000364}}
#sidebar-second .view-Newsblock-Startseite .views-row a {
  color: #848484;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000368}}
#sidebar-second .view-Newsblock-Startseite .views-row-last {
  border: none;
}

/*------------------------------------------------*/
 * Front Header */
/*------------------------------------------------ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000376}}
.front #header-top-line {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000378}}
.front .front-header {
  /* The slideshow in the header */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000379}}
.front .front-header .content {
  *zoom: 1;
  border-top: 1px solid #444444 !important;
  border-bottom: 1px solid #818181 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.front .front-header .content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000385}}
.front .front-header .views-slideshow-cycle-main-frame-row {
  background: url(../images/new-adapted/gradient-front-header.jpg) repeat-x bottom;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000388}}
.front .front-header .front-block-left {
  float: left;
  width: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000391}}
.front .front-header .front-block-left img {
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: -45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\0000396}}
.front .front-header .front-block-right {
  float: left;
  width: 42%;
  padding: 60px 0 0 19px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003100}}
.front .front-header .front-block-right h2 {
  font-size: 2.7em;
  color: #ed8137;
  color: #ea5b0c;
  color: #e87030;
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003106}}
.front .front-header .front-block-right p {
  font-family: georgia, times, sans-serif;
  font-size: 1.6em;
  color: #999999;
  line-height: 1.5;
  width: 350px;
  letter-spacing: -0.005em;
}

/*-----------------------------------------------*/
 * Front Header unten */
/*------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003118}}
.front-header-bottom {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 15px 45px;
  background: #888888;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003122}}
.front-header-bottom .content {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.front-header-bottom .content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003124}}
.front-header-bottom div {
  color: #919191;
  line-height: 1.5;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003128}}
.front-header-bottom h3 {
  margin-top: 1px;
  margin-bottom: 1px;
  line-height: 1.3;
  font-size: 1.5em;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003134}}
.front-header-bottom .icon-wrapper-left, .front-header-bottom .text-left, .front-header-bottom .icon-wrapper-right, .front-header-bottom .text-right {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003136}}
.front-header-bottom .icon-wrapper-left, .front-header-bottom .icon-wrapper-right {
  border: 1px solid #bbbbbb;
  background: #7a7a7a;
  width: 50px;
  height: 50px;
  margin-top: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003142}}
.front-header-bottom .icon-wrapper-right {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003144}}
.front-header-bottom .text-left {
  width: 255px;
  margin-left: 20px;
  font-size: 0.93em;
  line-height: 1.4;
  color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003150}}
.front-header-bottom .text-right {
  width: 255px;
  margin-left: 20px;
  margin-right: 8px;
  font-size: 0.93em;
  line-height: 1.4;
  color: #eeeeee;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003158}}
.front-header-bottom .icon-wrapper-left img {
  height: 40px !important;
  width: auto !important;
  padding: 5px 0 0 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003163}}
.front-header-bottom .icon-wrapper-right img {
  height: 38px !important;
  width: auto !important;
  padding: 3px 0 0 3px;
}

/* ----------------------------------------------------- */
 * Startseite Header Slideshow */
/*  ----------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003172}}
.front .view-front-header-slider {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003174}}
.front .view-front-header-slider .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003176}}
.front .view-front-header-slider .views-row {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003178}}
.front .view-front-header-slider .ds-2col {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003180}}
.front .view-front-header-slider .ds-2col .group-left {
  text-align: right;
  height: 100%;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003185}}
.front .view-front-header-slider .ds-2col .group-right {
  margin-top: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003189}}
.front .view-front-header-slider .views-field-field_front_image_header_slider {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003191}}
.front .view-front-header-slider .views-field-field_front_image_header_slider img {
  position: absolute;
  bottom: 0;
  right: 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003195}}
.front .view-front-header-slider .views-field-field_front_image_header_slider a {
  display: block;
  height: 317px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003200}}
.front .view-front-header-slider .views-field-field_front_image_header_slider span.node-194 img {
  position: absolute;
  bottom: 0;
  right: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003206}}
.front .view-front-header-slider .views-field-field_front_image_header_slider span.node-195 img {
  position: absolute;
  bottom: -36px;
  right: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003211}}
.front .view-front-header-slider .views-field-field_front_image_header_slider span.node-227 img {
  position: absolute;
  bottom: 0;
  right: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003216}}
.front .view-front-header-slider .views-field-field_front_image_header_slider span.node-228 img {
  position: absolute;
  bottom: 0;
  right: -30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003222}}
.front .view-front-header-slider .views-field-body p {
  width: 70%;
  font-family: georgia, times, sans-serif;
  font-size: 1.6em;
  color: #999999;
  line-height: 1.4;
  letter-spacing: -0.005em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003229}}
.front .view-front-header-slider .views-field-body a {
  font-family: verdana, helvetica, sans-serif;
  font-size: 12px;
  padding-top: 4px;
  line-height: 1;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003236}}
.front .view-front-header-slider .views-field-body span.node-194 {
  display: block;
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003240}}
.front .view-front-header-slider .views-field-body span.node-196 {
  display: block;
  margin-left: 20px;
  width: 411px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003244}}
.front .view-front-header-slider .views-field-body span.node-196 p {
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003246}}
.front .view-front-header-slider .views-field-body span.node-197 {
  display: block;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003249}}
.front .view-front-header-slider .views-field-body span.node-227 {
  display: block;
  margin-left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003252}}
.front .view-front-header-slider .views-field-body span.node-228 {
  display: block;
  margin-left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003257}}
.front .view-front-header-slider .views-field-title a {
  font-family: georgia, times, sans-serif;
  font-size: 2.5em;
  line-height: 1.7em;
  background-color: transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003264}}
.front .view-front-header-slider .views-field-title span.node-194 a {
  display: block;
  margin-top: 20px;
  width: 411px;
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003270}}
.front .view-front-header-slider .views-field-title span.node-196 a {
  display: block;
  margin-left: 18px;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003275}}
.front .view-front-header-slider .views-field-title span.node-197 a {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003280}}
.front .view-front-header-slider .views-field-title span.node-227 a {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003285}}
.front .view-front-header-slider .views-field-title span.node-228 a {
  display: block;
  margin-top: 20px;
  margin-left: 50px;
}

/*Controls Slider front page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003294}}
.front .view-front-header-slider .views-slideshow-controls-bottom {
  position: absolute;
  right: 50px;
  bottom: 30px;
  width: 20%;
  z-index: 25;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003300}}
.front .view-front-header-slider .views-slideshow-controls-bottom .views-content-counter {
  cursor: pointer;
  cursor: hand;
  float: left;
  width: 2em;
  background: url(../images/new-adapted/pager-bg.png) no-repeat;
  text-align: center;
  margin-right: 5px;
  line-height: 24px;
  width: 23px;
  padding-bottom: 3px;
  padding-right: 4px;
  color: #777777;
  font-size: 0.93em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003315}}
.front .view-front-header-slider .views-slideshow-controls-bottom .active .views-content-counter, .front .view-front-header-slider .views-slideshow-controls-bottom .active .views-content-counter:hover {
  color: #ed8137;
  color: #222222;
  font-weight: bold;
}

/*Partners Block on About Us */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003321}}
.block.partner-agenturen {
  *zoom: 1;
  background: #dddddd;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.block.partner-agenturen:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003326}}
.block.partner-agenturen p {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003328}}
.block.partner-agenturen h2.partner-title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003332}}
.block.partner-agenturen .partner-angermann-webdesign, .block.partner-agenturen .partner-undpaul, .block.partner-agenturen .partner-particle-in-a-box, .block.partner-agenturen .partner-particle-in-a-box, .block.partner-agenturen .partner-wizardmedien {
  text-align: center;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003336}}
.page-node-190 #footer {
  border-top: none;
}

/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Tablet --------- */
/*-------------------------------- */
/*-------------------------------- */
/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Desktop -------- */
/*-------------------------------- */
/*-------------------------------- */
@media (min-width: 750px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003356}}
  body {
    /*Partners Block on About Us */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003358}}
  body #footer {
    text-align: left;
    /* Drupal Box */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003360}}
  body #footer .block {
    padding: 0;
    margin: 0;
    border: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003364}}
  body #footer .contact-footer {
    float: left;
    width: 25%;
    padding-right: 2%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003368}}
  body #footer .contact-footer div, body #footer .contact-footer a {
    font-size: 15px;
    font-style: normal;
    color: #777777;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003385}}
  body #footer #block-views-Newsblock_Startseite-block_2 {
    width: 28%;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003388}}
  body #footer #block-views-Newsblock_Startseite-block_2 .view-Newsblock-Startseite {
    padding-right: 33px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003392}}
  body #footer #block-boxes-footer_drupal_box {
    float: left;
    width: 43%;
    padding-left: 5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003396}}
  body #footer #block-boxes-footer_drupal_box .footer-drupal-box-left {
    float: left;
    width: 50%;
    margin-right: 7%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003400}}
  body #footer #block-boxes-footer_drupal_box .footer-drupal-box-right {
    float: left;
    width: 35%;
    margin-top: -5px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003406}}
  body .block.partner-agenturen {
    padding: 10px 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003408}}
  body .block.partner-agenturen h2.partner-title {
    margin-bottom: 0;
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003411}}
  body .block.partner-agenturen .partner-angermann-webdesign, body .block.partner-agenturen .partner-undpaul, body .block.partner-agenturen .partner-particle-in-a-box, body .block.partner-agenturen .partner-particle-in-a-box, body .block.partner-agenturen .partner-wizardmedien {
    margin-bottom: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003413}}
  body .block.partner-agenturen .partner-angermann-webdesign {
    float: left;
    padding: 12px 10px 0 25px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003416}}
  body .block.partner-agenturen .partner-undpaul {
    float: left;
    padding: 15px 10px 0 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003419}}
  body .block.partner-agenturen .partner-particle-in-a-box {
    float: left;
    padding: 12px 15px 0 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003422}}
  body .block.partner-agenturen .partner-wizardmedien {
    float: left;
    padding: 7px 15px 0 20px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 body {
  /*Partners Block on About Us */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003358}}
.lt-ie9 body #footer {
  text-align: left;
  /* Drupal Box */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003360}}
.lt-ie9 body #footer .block {
  padding: 0;
  margin: 0;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003364}}
.lt-ie9 body #footer .contact-footer {
  float: left;
  width: 25%;
  padding-right: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003368}}
.lt-ie9 body #footer .contact-footer div, .lt-ie9 body #footer .contact-footer a {
  font-size: 15px;
  font-style: normal;
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003385}}
.lt-ie9 body #footer #block-views-Newsblock_Startseite-block_2 {
  width: 28%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003388}}
.lt-ie9 body #footer #block-views-Newsblock_Startseite-block_2 .view-Newsblock-Startseite {
  padding-right: 33px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003392}}
.lt-ie9 body #footer #block-boxes-footer_drupal_box {
  float: left;
  width: 43%;
  padding-left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003396}}
.lt-ie9 body #footer #block-boxes-footer_drupal_box .footer-drupal-box-left {
  float: left;
  width: 50%;
  margin-right: 7%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003400}}
.lt-ie9 body #footer #block-boxes-footer_drupal_box .footer-drupal-box-right {
  float: left;
  width: 35%;
  margin-top: -5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003406}}
.lt-ie9 body .block.partner-agenturen {
  padding: 10px 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003408}}
.lt-ie9 body .block.partner-agenturen h2.partner-title {
  margin-bottom: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003411}}
.lt-ie9 body .block.partner-agenturen .partner-angermann-webdesign, .lt-ie9 body .block.partner-agenturen .partner-undpaul, .lt-ie9 body .block.partner-agenturen .partner-particle-in-a-box, .lt-ie9 body .block.partner-agenturen .partner-particle-in-a-box, .lt-ie9 body .block.partner-agenturen .partner-wizardmedien {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003413}}
.lt-ie9 body .block.partner-agenturen .partner-angermann-webdesign {
  float: left;
  padding: 12px 10px 0 25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003416}}
.lt-ie9 body .block.partner-agenturen .partner-undpaul {
  float: left;
  padding: 15px 10px 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003419}}
.lt-ie9 body .block.partner-agenturen .partner-particle-in-a-box {
  float: left;
  padding: 12px 15px 0 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/e\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/block\.sass}line{font-family:\00003422}}
.lt-ie9 body .block.partner-agenturen .partner-wizardmedien {
  float: left;
  padding: 7px 15px 0 20px;
}
