

/*-------------------------SIDEBAR----------------------------*/
#sidebar-second {
float: right;
    height: auto;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-top: 36px;
    min-height: 200px;
    width: 270px;
    background: none;
}
#sidebar-second {
  width: 210px;
}

.no-sidebars #content-inner {
  width: 900px;
}

.node .content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node .content {
  width: 100%;
}
.sidebar a {
	font-style: normal;
}

.sidebar block {
	margin-bottom: 25px;
	height:auto;
	overflow:hidden;
}

.sidebar ul {
	text-decoration: none;
	list-style: none;
	margin-left:0px;
	margin-top:-10px;
}

.sidebar ul li a {
	display: block;
	color: #6a6a6a;
	text-decoration: none;
	font-size: 13px;
	padding: 6px;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
}

.sidebar ul li ul{
  padding-top: 6px;	
  padding-left: 13px;
}


.sidebar-box ul li a:hover {
	color: #373737;
}

.sidebar h2.block-title {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	color: #484848;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 10px;
	padding-bottom: 9px;
	text-transform: uppercase;
}

.sidebar-box input[type='text'] {
	width: 260px;
	margin-bottom: 10px;
	height: 29px;
}


/*-------------------------END SIDEBAR----------------------------*/
	/* --------------------- BUTONS --------------------- */
a.button,a.button {
 background: transparent url(images/buttons_dark_a.gif) no-repeat scroll
  top right;
 display: inline-block;
 height: 35px;
 margin-top: 0;
 padding-right: 5px;
 /* the same value as the width of buttons_a.gif  */
 text-decoration: none;
 color: #fff;
 font-style:normal;
}

a.button span,a.button span {
 background: transparent url(images/buttons_dark_span.gif) no-repeat top
  left;
 display: block;
 line-height: 21px;
 padding: 7px 12px 7px 16px;
 font-family:Georgia, "Times New Roman", Times, serif;
 letter-spacing:1px;
 text-transform:uppercase;
 font-size: 12px;
 letter-spacing:1px;
}

a.button:hover,a.button:hover {
 color: #fff;
 background-position: bottom right;
 cursor: pointer;
 text-decoration: none;
}

a.button:hover span,a.button:hover span {
 background-position: bottom left;
 cursor: pointer;
}

a.button-small,a.button-small {
 background: transparent url(images/buttons_small_a.gif) no-repeat scroll
  top right;
 display: inline-block;
 height: 35px;
 margin-right: 6px;
 margin-top: 0;
 padding-right: 5px;
 /* the same value as the width of buttons_a.gif  */
 text-decoration: none;
 color: #8e8e8e;
 font-style:normal;
}

a.button-small span,a.button-small span {
 background: transparent url(images/buttons_small_span.gif) no-repeat top
  left;
 display: block;
 line-height: 21px;
 padding: 7px 12px 7px 16px;
 font-family:Georgia, "Times New Roman", Times, serif;
 letter-spacing:1px;
 text-transform:uppercase;
 font-size: 12px;
 word-spacing: 4px;
}

a.button-small:hover,a.button-small:hover {
 color: #fff;
 background-position: bottom right;
 cursor: pointer;
 text-decoration: none;
}

a.button-small:hover span,a.button-small:hover span {
 color: #8e8e8e;
 background-position: bottom left;
 cursor: pointer;
}


/*------------- CONTACT PAGE --------------*/
input {
	width: 300px;
	height: 24px;
	border: 1px solid #ccc;
	background-color: #fff;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

textarea {
	width: 300px;
	height: 150px;
	padding-top: 0px;
	font-family: Arial;
	font-size: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	border: 1px solid #ccc;
	padding-left: 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#submit_form {
	margin-top: 25px;
}

form h6 {
	margin-bottom: 3px;
}

.contact_message {
	z-index: 1000000;
}

.check {
	width: 24px;
	height: 24px;
	background-image: url(images/ok.png);
	background-repeat: no-repeat;
}

.contact_loader {
	width: 32px;
	height: 32px;
	background-image: url(images/contact-loader.gif);
	background-repeat: no-repeat;
}

#contact_status {
	margin-top: 30px;
}

.invalid {
	border: 1px solid #ff6666;
}

#invalid_input {
	display: none;
}

#sent_successful {
	display: none;
}

.question_icon {
	width: 14px;
	height: 13px;
	background-image: url(images/question_icon.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 35px;
	right: -40px;
	z-index: 2;
}

.contact_form_textarea .question_icon {
	top: 40px;
}

.contact_form_input,.contact_form_textarea {
	position: relative;
	width: 290px;
}

.contact_message {
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 100px;
	position: absolute;
	top: 37px;
	right: 15px;
	z-index: 1;
	margin-bottom: 0px;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 5px;
	z-index: 3000;
}

.contact_form_textarea .contact_message {
	top: 57px;
}

.contact_message p {
	margin-top: 5px;
	margin-bottom: 5px;
}

#contact_status div {
	float: left;
}

#contact_status span {
	float: left;
	margin-left: 10px;
	margin-top: 3px;
}

#slider-container {
	overflow: hidden;
}

#map-canvas {
	width: 268px;
	height: 268px;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 6px #c6c6c6;
	-webkit-box-shadow: 0px 0px 6px #c6c6c6;
	box-shadow: 0px 0px 6px #c6c6c6;
	border: 1px solid #CCC;
	margin-top: 25px;
}


/*----------------------- COMMENTS ---------------------------*/
.commentContainer {
	border: #ebebeb 1px solid;
	margin-top: 20px;
	background-color: #fafafa;
	padding: 0px;
	font-size: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#commentContentContainer ul.children .commentContainer {
	margin-top: 20px;
	padding: 0px;
	margin-left: 20px;
}

#commentContentContainer ul.children li {
	border-left: 1px solid #ccc;
	margin-top: -1px;
	padding-top: 1px;
	margin-left: 10px;
	padding-bottom: 20px;
	margin-bottom: -20px;
	background-image: url(images/comment-reply-bg.jpg);
	background-repeat: repeat-x;
	background-position: center;
}

#content-container ul.commentlist,#content-container ul.commentlist ul {
	margin-left: 0px;
	list-style: none;
	padding-left: 0px;
}

.comentBox {
	padding: 20px;
	min-height: 108px;
	position: relative;
}

#commentContentContainer ul.children .comentBox {
	padding: 20px;
	position: relative;
}

.comentBox p {
	margin-top: -10px;
}

.comentBox img {
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 0px;
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #e6e6e6;
}

.commentAutor {
	float: left;
}

.commentDate {
	position: absolute;
	bottom: 10px;
	right: 20px;
	color: #999999;
	margin-top: 10px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

ul.children .commentDate {
	right: 10px;
}

.commentNavigation {
	width: 100%;
	float: left;
	height: 30px;
	position: relative;
	margin-top: 20px;
}

.commentInput {
	padding-top: 4px;
	height: 20px;
	width: 250px;
	margin-bottom: 5px;
}

.commentTextArea {
	width: 350px;
	margin-bottom: 15px;
}

.commentText {
	margin-top: 10px;
}

.reply_icon {
	width: 22px;
	height: 22px;
	background-image: url(images/reply.png);
	background-repeat: no-repeat;
	float: left;
	margin-right: 9px;
	margin-top: -2px;
}

.reply {
	float: left;
}

#commentform {
	margin-top: 25px;
}

/*-----------------------  END COMMENTS ---------------------------*/

/*----------- ELEMENTS -----------*/
code {
	border: 1px dashed #d3d3d3;
	font: normal 13px;
	padding: 2px;
	padding-left: 7px;
	padding-right: 7px;
}

.hihglight1 {
	background-color: #E6E8E8;
	border: 1px solid #CCC;
	padding: 2px;
	color: #000000;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
}

.hihglight2 {
	background-color: #666;
	border: 1px solid #333;
	padding: 2px;
	color: #FFF;
	padding-left: 5px;
	padding-right: 5px;
	font-style: italic;
}

blockquote {
	margin: 20px;
	border-left: 5px solid #d0d4d8;
	padding-left: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 1.5em;
	background: transparent url(images/quote.png) no-repeat scroll top left;
	background-position: top left;
}

.info_box,.note_box,.tip_box,.error_box,tip_box {
	padding: 20px;
	margin: 20px 0px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 10px;
	border-radius: 7px;
	padding-left: 55px;
	background: #eee;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}

.info_box {
	background: #ddf3fc url(images/icons/info.png) no-repeat scroll 10px
		14px;
	border: 1px solid #8ed9f6;
	color: #2e6093;
}

.note_box {
	background: #fffadb url(images/icons/note.png) no-repeat scroll 10px
		15px;
	border: 1px solid #f5d145;
	color: #9e660d;
}

.error_box {
	background: #ffdede url(images/icons/error.png) no-repeat scroll 10px
		15px;
	border: 1px solid #d97676;
	color: #cd0a0a;
}

.tip_box {
	background: #eff7d9 url(images/icons/tip.png) no-repeat scroll 10px 15px
		;
	border: 1px solid #b7db58;
	color: #5d791b;
}

table {
	border: 1px solid #D8D8D8;
	border-collapse: collapse;
	margin-bottom: 20px;
	margin-top: 20px;
}

table th {
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 5px;
	padding-left: 13px;
	padding-right: 13px;
	background-color: #f1f2f4;
	border-right: 1px solid #D8D8D8;
	font-size: 14px;
}

table td {
	border: 1px solid #D8D8D8;
	padding: 5px;
	padding-left:13px;
}

table td:hover {
	background-color: #f1f2f4;
}

#calendar_wrap table td {
	text-align: center;
	padding-left:3px;
}

table#wp-calendar{
	margin-bottom:0px;
}

#calendar_wrap table td#prev{
	text-align: left;
}

caption {
	margin-bottom: 5px;
}

.drop-caps {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 300%;
	line-height: 0.8em;
	margin-right: 0.1em;
	padding-bottom: 0.1em;
	text-transform: uppercase;
	float: left;
	position: relative;
	top: 4px;
}

/* --------------------- BULLETS --------------------- */
ul.bullet_check li, div.bullet_check li {
	list-style: none;
	background: transparent url(images/check.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_arrow li, div.bullet_arrow li {
	list-style: none;
	background: transparent url(images/arrow.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_arrow2 li, div.bullet_arrow2 li {
	list-style: none;
	background: transparent url(images/arrow2.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_arrow3 li, div.bullet_arrow3 li {
	list-style: none;
	background: transparent url(images/arrow3.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_arrow4 li, div.bullet_arrow4 li {
	list-style: none;
	background: transparent url(images/arrow4.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_numeric li, div.bullet_numeric li {
	list-style: none;
	list-style: decimal;
	padding-left: 20px;
}

ul.bullet_star li, div.bullet_star li {
	list-style: none;
	background: transparent url(images/star.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

ul.bullet_plus li, div.bullet_plus li {
	list-style: none;
	background: transparent url(images/plus.png) no-repeat 0 .2em;
	padding: 0px;
	margin: 7px;
	line-height: 18px;
	padding-left: 25px;
}

/*----- TESTIMONIALS -----*/

#testimonials {
	height: auto;
	overflow: hidden;
	padding: 10px 0 5px 2px;
	width: 580px;
}

#testimonials img {
	float: left;
	margin-right: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	opacity: 0.7;
	filter: alpha(opacity =     70);
	padding: 5px;
}

#testimonials img.current {
	cursor: default;
	opacity: 1;
	filter: alpha(opacity =     100);
}

#testimonials div {
	width: 0px;
	float: left;
	display: none;
	margin-right: 10px;
}

#testimonials div.first {
	width: 245px;
	display: block;
}

#testimonials div h3 {
	color: #444;
	margin: 0 0 -10px 0;
	width: 240px;
	font-size: 15px;
}

#testimonials div p {
	font-size: 12px;
	width: 240px;
	line-height: 1.8em;
	margin-top: 13px;
	margin-bottom: 0px;
}

/*------------------ TABS------------------*/
.tabs-container {
	min-height: 200px;
}

/* root element for tabs  */
.tabs {
	list-style: none;
	margin: 0 !important;
	padding: 0;
	height: 45px;
	border-bottom: 1px solid #cdcdcd;
}

/* single tab */
.tabs li {
	float: left;
	text-indent: 0;
	padding: 0;
	margin: 0 !important;
	list-style-image: none !important;
}

/* link inside the tab. uses a background image */
.tabs a {
	background: url(images/tabs.png) no-repeat 0 0 transparent;
	font-size: 14px;
	display: block;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
	color: #6a6a6a;
	padding: 0 4px;
	margin: 0px;
	position: relative;
	top: 1px;
    font-family:Georgia, "Times New Roman", Times, serif;
    text-transform:uppercase;
	letter-spacing:1px;
}

.tabs a:active {
	outline: none;
}

/* when mouse enters the tab move the background image */
.tabs a:hover {
	background-position: 0 -46px;
	color: #454545;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current,.tabs .current:hover,.tabs li.current a {
	background-position: 0 -92px;
	cursor: default !important;
	color: #000 !important;
}

/* Different widths for tabs: use a class name: w1, w2, w3 or w2 */
	/* width 1 */
.tabs .w1 {
	background-position: -519px 0;
	width: 134px;
}

.tabs .w1:hover {
	background-position: -519px -46px;
}

.tabs .w1.current {
	background-position: -519px -92px;
}

/* width 2 */
.tabs .w2 {
	background-position: -366px -0px;
	width: 154px;
}

.tabs .w2:hover {
	background-position: -366px -46px;
}

.tabs .w2.current {
	background-position: -366px -92px;
}

/* width 3 */
.tabs .w3 a {
	background-position: -247px -0px;
	width: 174px;
}

.tabs .w3:hover a {
	background-position: -247px -46px;
}

.tabs .w3 a.current {
	background-position: -247px -92px;
}

/* width 4 */
.tabs .w4 {
	background-position: -0px -0px;
	width: 194px;
}

.tabs .w4:hover {
	background-position: -0px -46px;
}

.tabs .w4.current {
	background-position: -0px -92px;
}

/* initially all panes are hidden */
.panes .pane {
	display: none;
	border: 1px solid red;
}

.panes {
	padding: 15px;
	border: 1px solid #CCC;
	border-top: 0px;
}

/*------------------- ACCORDION ------------------------*/
.accordion-container {
	min-height: 250px;
}

#accordion {
 background:#f9f9f9;
 border:1px solid #e2e2e2; 
}

/* accordion header */
#accordion h2 {
 background:#EFEFEC;
 margin:0;
 padding:10px 15px;
 font-size:14px;
 font-weight:normal;
 border:1px solid #fff;
 border-bottom:1px solid #ddd;
 cursor:pointer; 
 font-style:italic;
}

/* currently active header */
#accordion h2.current {
 cursor:default;
 background-color:#fff;
}

/* accordion pane */
#accordion .pane {
 border:1px solid #fff;
 border-width:0 2px;
 display:none;
 padding:15px;
 color:#6a6a6a;
 font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
 font-weight:normal;
 margin:0 0 -5px 0;
 font-size:16px;
 color:#999;
}

/*-------------OTHER------------*/

.hidden {
	visibility: hidden;
	width: 0px;
	height: 0px;
}

.loading-container {
	background-image: url(images/ajax-loader-small.gif);
}

#searchform {
	margin-top: 20px;
}

.sidebar-box #search_input{
	width:168px;
	float:left;
	height:25px;
	margin-top:2px;	
	margin-right:5px;
}

#search_button{
	float:right;	
}

#content #search_button{
	float:none;	
}

#content #search_input{
	display:block;
	margin-bottom:10px;
	margin-left:3px;
}

ul.blogroll img {
	float: left;
	margin-right: 7px;
	width: 45px;
}

ul.blogroll li {
	border-bottom: 1px solid #EBEBEB;
	padding-top: 6px;
	padding-bottom: 6px;
	overflow: hidden;
	color: #a6a6a6;
}

ul.blogroll li a {
	border-bottom-width: 0px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	padding: 0px;
}

div.wp_syntax {
	margin-top: 20px;
	margin-bottom: 30px;
}

cite {
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.nomargin{
	margin-right:0px;
}

.sidebar .textwidget{
	padding-top:10px;
}

a.rsswidget img{
	position:relative;
	top:2px;
}

.sidebar #SGM{
	background-image: url(images/ajax-loader-small.gif);
	background-repeat: no-repeat;
	background-position: center; 
	border:1px solid #ebebeb;
	width:267px;
	margin-top:20px;
}

.sidebar-heading{
	margin-top:0px;
}

.sidebar-box ul li.cat-item a{
    display:inline;
}

.mandatory{
color:#ff0000;
}

#content-container .gallery img{
padding: 4px;
	background-color: #fefefe;
	border: 1px solid #d9d9d9;
}

.nomargintop{
margin-top:0px;
}

/*----------- BLOG POSTS LOADER WIDGET --------------*/
.sidebar-post-wrapper {
	padding-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px solid #ebebeb;
}

#footer .sidebar-post-wrapper {
	padding-bottom: 11px;
	margin-top: 10px;
}

.sidebar-post-wrapper img {
	padding: 3px;
}

.sidebar-post-wrapper h6 a {
	font-style: italic;
	color:#737373;
	font-size:12px;
}

.sidebar-post-wrapper h6{
margin-top:0px;
margin-bottom:5px;
}

.info-wrapper{
float:left;
width:187px;
color:#EBEBEB;
}

#footer .info-wrapper{
width:110px;	
}

.info-wrapper img{
padding: 0;
    position: relative;
    top: 2px;
    width: 20px;	
}

#footer .sidebar-post-info{
display:none;	
}

.sidebar-post-wrapper h6 a:hover {
	text-decoration: none;
}

.sidebar-post-info a {
	font-size: 11px;
}

.no-arrows #slider-navigation{
margin-left:-55px;	
}

.clear{
	clear:both;	
}

body {
    background-color: #45484B;
}
body {
    background-image: url("../../../../../../pexeto.com/dandelion_wp/wp-content/themes/Dandelion2/images/patterns/pattern9.png");
}

#footer ul li .entry-content a, #footer ul li .entry-meta a{
display:inline;
}