@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\000031}}
#admin-menu ul li {
  font-size: 11px;
}

/*End Admin Menu */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\000037}}
body, html {
  height: 100%;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000311}}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #6a6a6a;
  line-height: 1.6em;
  background-color: #aaa9a9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000318}}
#page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: 100%;
  background: #aaaaaa url(../images/patterns/pattern16-b.png);
  /*background: #aaa url(../images/patterns/pattern20.png) */
  /*background: #aaa url(../images/patterns/pattern21.png) */
  padding: 26px 0 23px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000328}}
#page {
  width: 980px;
  margin: auto;
  background: white;
  min-height: 750px;
  height: auto !important;
  height: 750px;
  /*border: 1px dashed #555 */
  box-shadow: 0px 0px 10px #888888;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000339}}
#site {
  height: auto;
  width: 980px;
  text-align: left;
  padding: 0px;
  background-color: white;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000350}}
#line-top {
  background-color: #535353;
  border-bottom: 1px solid #272727;
  height: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000356}}
.center {
  height: auto;
  margin: auto;
  text-align: left;
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000362}}
#content {
  padding-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000366}}
#header-top {
  width: 100%;
  display: block;
  height: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000371}}
#header {
  height: 140px;
  background: url(../images/new-adapted/header-schreibmaschine.jpg) no-repeat;
  background: url(../images/new-adapted/header-asian-cars.jpg) no-repeat;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000377}}
#header-top-line {
  position: absolute;
  height: 6px;
  width: 100%;
  background: rgba(50, 50, 50, 0.4);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000384}}
.front #header {
  height: 400px;
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000388}}
#logo {
  float: left;
  width: 280px;
  padding: 27px 0 0 45px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000394}}
.front #logo {
  padding-left: 48px;
  padding-top: 17px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\0000398}}
#site-slogan {
  position: absolute;
  top: 60px;
  left: 77px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: #aaaaaa;
  font-size: 14px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\00003107}}
.front #site-slogan {
  left: 80px;
  top: 49px;
  color: #cccccc;
}

/*---------------------------- LOGO ---------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\00003114}}
#logo-container {
  width: 160px;
  float: left;
  margin-top: 15px;
  margin-left: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/layouts-sass\.sass}line{font-family:\00003121}}
#logo-container a {
  width: 160px;
  height: 71px;
  display: block;
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
}
