/*-------------------------------- */
/*-------------------------------- */
/*------ Layout all Devices ------ */
/*-------------------------------- */
/*-------------------------------- */

 body.front #content-area .view-projekte-overview {
  padding-top: 20px;
}
body.front .view-projekte-overview .views-row {
  margin: 0;
}
body.front .view-projekte-overview .views-field-field-project-images a {
  display: block;
}
body.front #content-area .view-projekte-overview .views-field-field-project-images img {
  margin: auto;
  max-width: 99%;
  height: auto;
  background: none;
  padding: 0;
}
body.front .view-projekte-overview .views-field-field-project-images,
body.front .view-projekte-overview .views-field-title {
  text-align: center;
}
.front .view-projekte-overview .slick-prev,
body.front .view-projekte-overview .slick-next {
  height: 30px;
  width: 30px;
  margin-top: -35px;
}
.front .view-projekte-overview .slick-prev {
  left: -30px;
}
.front .view-projekte-overview .slick-next {
  right: -30px;
}
.front .view-projekte-overview .slick-prev:before,
body.front .view-projekte-overview .slick-next:before {
  color: #aaa;
  font-size: 26px;
}

.views-slideshow-pager-fields > div {
  padding-left: 0;
}
.node-type-projekt .view-images-project .views-slideshow-pager-fields img {
  max-width: none;
  max-height: none;
}

/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Tablet --------- */
/*-------------------------------- */
/*-------------------------------- */
@media (min-width: 480px) {
  body.front #content-area .view-projekte-overview {
  max-width: 380px;
  padding-top: 0;
}
  body.front #content-area .view-projekte-overview .views-field-field-project-images img {
    background: white;
    padding: 4px;
}

} /* Ende Media Query Tablet */


/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Desktop -------- */
/*-------------------------------- */
/*-------------------------------- */
@media (min-width: 750px) {

  body.front .view-projekte-overview .slick-slider {
    margin-bottom: 0;
  }
  body.front #content-area .view-projekte-overview {
    margin-left: 25px;
  }
  .node-type-projekt .view-images-project .views-slideshow-pager-fields div {
    display: block;
  }
  .node-type-projekt .view-images-project {
    zoom: 1;
    min-height: 480px!important;
  }
  .node-type-projekt .view-images-project:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }

  .front .view-front-header-slider .ds-2col .group-left {
    min-height: 20px;
  }

  .front .view-front-header-slider .views-field-field_front_image_header_slider span.node-251 img {
    right: 0;
  }
  .front .view-front-header-slider .views-field-title span.node-251 {
    padding-top: 15px;
  }
  .front .view-front-header-slider .views-field-title span.node-251,
  .front .view-front-header-slider .views-field-body span.node-251 {
    display: block;
    padding-left: 50px;
  }

} /* Ende Media Query Desktop */
