@charset "UTF-8";
/** Styling für Dateianhänge ** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\000036}}
#content-area .file img {
  border: none;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000310}}
#views_slideshow_cycle_div_front_header_slider-block_2_0 img {
  position: absolute;
  bottom: 0;
  right: -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000314}}
#views_slideshow_cycle_div_front_header_slider-block_2_0 .group-right {
  margin-top: 60px;
  width: 42%;
  margin-left: 3%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000318}}
#views_slideshow_cycle_div_front_header_slider-block_2_0 .group-right p {
  width: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000321}}
#views_slideshow_cycle_div_front_header_slider-block_2_1 img {
  position: absolute;
  bottom: -36px;
  right: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000326}}
#views_slideshow_cycle_div_front_header_slider-block_2_3 .group-right {
  margin-top: 50px;
  width: 42%;
  margin-left: 2%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000330}}
#views_slideshow_cycle_div_front_header_slider-block_2_3 .group-right p {
  width: 80%;
}

/*Detailansicht Projekt */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000336}}
.node-type-projekt .field-name-field-project-text-secondary {
  margin: 0 0 0 -10px;
  padding: 0 0 0 20px;
  color: #999999;
  background: url(../images/icons/quote-left.png) no-repeat 0 38px;
  font-family: georgia, times, serif;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000342}}
.node-type-projekt .field-name-field-project-text-secondary .field-items {
  background: url(../images/icons/quote-right.png) no-repeat right bottom;
  padding: 0 15px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000345}}
.node-type-projekt .field-name-field-project-text-secondary p {
  font-size: 1.3em;
  line-height: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000348}}
.node-type-projekt .field-name-field-project-text-secondary h2 {
  color: #4981d1;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000353}}
.node-type-projekt .field-name-field-project-text-secondary h3 {
  font-size: 1.4em;
  color: #777777;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000356}}
.node-type-projekt .field-name-body {
  padding: 0 0 0 10px;
  color: #555555;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000359}}
.node-type-projekt .field-name-body h2 {
  color: #ea5b0c;
  margin-bottom: 5px;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000363}}
.node-type-projekt .field-name-body h3 {
  font-size: 1.48em;
  color: #777777;
}

/*-------------------------------- */
/* ---    Projekte Übersicht  --- */
/* ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000371}}
.page-projekte #content-inner {
  width: 940px;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000375}}
.page-projekte .view-projekte-overview .views-row {
  float: left;
  margin: 0 20px 25px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000378}}
.page-projekte .view-projekte-overview .views-row .views-field-field-project-images {
  margin-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000380}}
.page-projekte .view-projekte-overview .view-header {
  width: 700px;
  margin-bottom: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000383}}
.page-projekte .view-projekte-overview h4 {
  font-size: 1.3em;
  margin-top: 3px;
  padding-left: 2px;
}

/** Contact Form ** */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\0000392}}
form#webform-client-form-22 textarea {
  height: 200px;
}

/*-------------------------------- */
/* ---         News           --- */
/* ------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003100}}
.page-news ul.tabs {
  font-size: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003104}}
.view-id-News_Hauptseite h2, .view-taxonomy-term h2 {
  margin-bottom: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003108}}
.node-type-news h1 {
  margin-bottom: 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003112}}
.node-news .field-name-field-hauptbild {
  float: right;
  margin: 5px 0 5px 15px;
}

/*Taxonomy Menu auf News */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003117}}
.sidebar #block-menu-menu-news-men- ul li a {
  display: block;
  color: #888888;
  text-decoration: none;
  font-size: 11px;
  padding: 3px 6px 3px 0;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
}

/*Bild Borders */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003127}}
.image-border-none #content-area .node-news .field-name-field-hauptbild img,
#content-area .image-border-none .field-name-field-hauptbild img {
  border: none;
}

/*Jplayer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003132}}
div.jp-interface {
  border: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003135}}
div.jp-playlist {
  background: #fafafa;
  border: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003139}}
div.jp-playlist div.jp-playlist li {
  border-bottom: 1px solid #e7e7e7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003142}}
div.jp-audio {
  width: 100%;
}

/*News in Übersichtsview */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003147}}
ul.inline, ul.links.inline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: italic;
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003154}}
ul.inline li {
  padding: 0px 10px 0px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003156}}
ul.inline li a {
  padding: 2px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003159}}
ul.inline li.comment-add a {
  background: url("../images/reply.png") no-repeat scroll 0 2px transparent;
  padding-left: 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003163}}
ul.inline li.comment-comments a {
  background: url("../images/comment-icon.png") no-repeat scroll 0 2px transparent;
  padding-left: 23px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003167}}
ul.inline li.node-readmore a {
  background: url("../images/read-more-icon.png") no-repeat scroll 2px 2px transparent;
  padding-left: 24px;
}

/*Gallery */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003174}}
.node-image-gallery .field-name-field-gallery-image .field-item {
  float: left;
  margin: 0 20px 17px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003177}}
.node-image-gallery ul.links, .node-image-gallery ul.links.inline {
  clear: left;
  display: block;
}

/*Comments */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003182}}
h2.comment-form {
  margin-left: 5px;
  margin-top: 30px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003185}}
form#comment-form {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003188}}
.comment {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 2px 2px 2px 2px;
  font-size: 12px;
  margin-top: 20px;
  padding: 20px 25px 20px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003195}}
.comment .user-picture {
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003198}}
.comment .user-picture-wrapper {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003200}}
.comment .comment-content {
  margin-left: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003202}}
.comment .submitted {
  float: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003204}}
.comment h3 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003208}}
.comment .comment-author {
  width: 90px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003210}}
.comment .comment-author span, .comment .comment-author a {
  font-size: 0.93em;
  line-height: 1;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003215}}
.comment p {
  margin-top: 0;
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003218}}
.comment .links {
  color: #999999;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-style: italic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003223}}
.comment .comment-date {
  float: right;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003226}}
.comment ul.links {
  float: right;
  padding-right: 15px;
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003230}}
.comment ul.links li {
  padding: 3px 0;
  font-size: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003233}}
.comment ul.links li a {
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003238}}
.comment ul.links li.comment-delete a {
  padding-left: 21px;
  padding-right: 10px;
  background: url(../images/delete-icon.png) no-repeat 0 center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003243}}
.comment ul.links li.comment-edit a {
  padding-left: 21px;
  padding-right: 10px;
  background: url(../images/edit-icon.png) no-repeat 0 center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen-online\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/node-sass\.sass}line{font-family:\00003248}}
.comment ul.links li.comment-reply a {
  padding-left: 23px;
  background: url(../images/reply.png) no-repeat 0 2px;
}
