.node-news .field-name-field-hauptbild {
  float: right;
  margin: 5px 0 5px 15px;
}
.image-border-none #content-area .node-news .field-name-field-hauptbild img,
#content-area .image-border-none .field-name-field-hauptbild img {
  border: none;
}

/** Gallery **/
.node-image-gallery .field-name-field-gallery-image .field-item {
  float: left;
  margin: 0 20px 17px 0;
}

.node-image-gallery ul.links,
.node-image-gallery ul.links.inline {
  clear: left;
  display: block;
}

/** Comments **/
.comment .user-picture {
  float: left;
  display: inline;
}
.comment .comment-content {
  margin-left: 110px;
}
h2.comment-form,
form#comment-form {
  margin-left: 5px;
}
h2.comment-form {
  margin-top: 30px;
}
.comment .submitted {
  float: none;
}
#comments .comment {
  background-color: #FAFAFA;
  border: 1px solid #e5e5e5;
  border-radius: 2px 2px 2px 2px;
  font-size: 12px;
  margin-top: 20px;
  padding: 20px 25px 20px 20px;
}
.comment h3 {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 1.6em;
}
.comment .comment-author {
   width: 90px;
}
.comment p {
  margin-top: 0;
  margin-bottom: 10px;
}
.comment .comment-author span,
.comment .comment-author a {
  font-size: 0.93em;
  line-height: 1;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-style: italic;
}
.comment .links {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1em;
  font-style: italic;
  color: #999;
}
.comment ul.links,
.comment .comment-date {
  float: right;
  padding-right: 15px;
}
.comment ul.links {
  margin-left: 15px;
}
.comment ul.links li,
.comment ul.links li a {
  font-size: 11px; 
}
.comment ul.links li  {
  padding: 3px 0;
}
.comment ul.links li a {
  padding-top: 2px;
  padding-bottom: 2px;
}
.comment ul.links li.comment-delete a {
  padding-left: 21px;
  padding-right: 10px;
  background: url(../images/delete-icon.png) no-repeat 0 center;
}
.comment ul.links li.comment-edit a {
  padding-left: 21px;
  padding-right: 10px;
  background: url(../images/edit-icon.png) no-repeat 0 center;
}
.comment ul.links li.comment-reply a {
  padding-left: 23px;
  background: url(../images/reply.png) no-repeat 0 2px;
}
ul.links li a {
  color: #ED8137;
}
 
/** Taxonomy Menu auf News **/
.sidebar #block-menu-menu-news-men- ul li a {
	display: block;
	color: #888;
	text-decoration: none;
	font-size: 11px;
	padding: 3px 6px;
	border-bottom: 1px solid #ebebeb;
	width: 100%;
}

/** Jplayer **/
div.jp-interface {
  border: 1px solid #ccc;
}
div.jp-playlist {
  background: #fafafa;
  border: 1px solid #ddd;
}
div.jp-type-playlist div.jp-playlist li { 
  border-bottom: 1px solid #e7e7e7;
}
div.jp-audio {
  width: 100%;;
}
/** News in Übersichtsview **/

ul.inline, ul.links.inline {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 1em;
  font-style: italic;
  margin-left: 0;
}
ul.inline li {
  padding: 0px 10px 0px 0;
}
ul.inline li a {
  padding: 2px 0;
}
ul.inline li.comment-add a {
  background: url("../images/reply.png") no-repeat scroll 0 2px transparent;
  padding-left: 23px;
}
ul.inline li.comment-comments a {
  background: url("../images/comment-icon.png") no-repeat scroll 0 2px transparent;
  padding-left: 23px;
}
ul.inline li.node-readmore a {
  background: url("../images/read-more-icon.png") no-repeat scroll 2px 2px transparent;
  padding-left: 24px;
}

/** Startseite **/
.front #content-inner {
  width: 900px;
  padding-top: 10px;
  margin-bottom: 40px;
}
.front #content-header h1 {
  display: none;
}
.front .links {
  display: none;
}
.front h2 {
  font-size: 2.2em;
  margin-bottom: 7px;
  margin-top: 5px;
}
.front p {
  margin-bottom: 7px;
}
.front .field-name-field-zweispaltig-links {
  float: left;
  width: 420px;
  margin-right: 40px;
  margin-left: 3px;
}
.front .field-name-field-zweispaltig-rechts {
  float: left;
  width: 340px;
  padding-top: 3px;
}
.front .field-name-field-zweispaltig-rechts img {
  float: right;
}
/** Zitat der Woche View **/
.view-zitat-der-woche .views-row .field-name-body p {
  font-family: georgia,times,serif;
  font-size: 1.6em;
  font-style: italic;
  color: #a1a1a1;
  line-height: 1.35;
  background: url(../images/quote-bottom.png) no-repeat bottom right;
  padding-right: 30px;
}
.view-zitat-der-woche .views-row .field-name-body {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 5px;
  background: #f8f8f8 url(../images/quote-top.png) no-repeat 8px 8px;
  border: 1px solid #ebebeb;
  margin-bottom: 8px;
  margin-top: 15px;
}


.view-zitat-der-woche .views-row .field-name-zitat-description {
  float: left;
  display: inline;
  padding-left: 28px;
}
.view-zitat-der-woche .views-row .field-name-field-zitat-author {
  display: inline;
    float: right;
    line-height: 10px;
    padding-right: 30px;
    text-align: right;
    width: 280px;
}
.view-zitat-der-woche .views-row .field-name-zitat-description p,
.view-zitat-der-woche .views-row .field-name-field-zitat-author .field-item {
     font-size: 0.83em;
     line-height: 1.35;
     color: #999;
}

/** Node Type Projekt **/
.node-type-projekt #header,
.page-projekte #header {
  height: 65px;
 /*  background: none;
 background: #EFEFEF; 
  border: 1px solid #ccc; */
  background: url("../images/new-adapted/header-cars-sw.jpg") no-repeat  0 -120px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.node-type-projekt #header-top-line,
.page-projekte #header-top-line {
  display: none;
}
.node-type-projekt #content {
  margin-top: 20px;
}
.node-type-projekt .view-images-project {
  margin-bottom: 25px;
}
/** Layout unterer Teil **/
.node-type-projekt .field-name-title h2 {
  font-size: 32px;
  margin-bottom: 9px;
}

.node-type-projekt .group-left {
  width: 61%;
  margin-right: 3%;
}
.node-type-projekt .group-left,
.node-type-projekt .field-name-title {
  padding-left: 3px;	
}
.node-type-projekt .field-name-title {
  clear: both;
}

.node-type-projekt .group-right {
  width: 34%;
  margin-right: 0.7%;
}
.node-type-projekt .group-right .group-properties-icons h3 {
  display: none;
}
.node-type-projekt .group-right .group-properties-icons {
  border: 1px solid #e5e5e5;
  /*background: #f9f9f9;*/
  padding: 10px 15px 5px;
  margin-bottom: 30px;
}
.node-type-projekt .group-right .field-name-field-project-url, 
.node-type-projekt .group-right .field-name-field-project-business-area,
.node-type-projekt .group-right .field-name-field-project-task, 
.node-type-projekt .group-right .field-name-field-project-technical-details {
	margin-bottom: 10px;
	padding: 3px 0 3px 35px;
}
.node-type-projekt .group-right .field-name-field-project-url {
  background: url(../images/icons/external-link-icon.png) no-repeat 2px center;
}
.node-type-projekt .group-right .field-name-field-project-url a {
  font-size: 0.93em;
}
.node-type-projekt .group-right .field-name-field-project-business-area {
  background: url(../images/icons/business-field-icon.png) no-repeat 2px center;
}
.node-type-projekt .group-right .field-name-field-project-task {
  background: url(../images/icons/tasks-icon.png) no-repeat 0 center;
}
.node-type-projekt .group-right .field-name-field-project-technical-details {
  background: url(../images/icons/technical-details-icon.png) no-repeat 2px center;
}
.node-type-projekt .group-right .field-type-taxonomy-term-reference .field-item {
  display: inline;
  margin-right: 10px;
}
.node-type-projekt .group-right .field-type-taxonomy-term-reference a {
  font-size: 0.93em;
  color: #333;
}
/*---------------------------------------------------------
 **************  Projekte Übersicht  **********************
 ----------------------------------------------------------*/
.page-projekte .view-projekte-overview .views-row {
    float: left;
    margin: 0 25px 25px 0;
}
.page-projekte .view-projekte-overview .view-header {
  width: 700px;
  margin-bottom: 20px;
}
.page-projekte #content-inner {
  /* width: 655px;
  margin-right: 15px; */
}



