@charset "UTF-8";
/** Styling für Dateianhänge ** */
/* line 6, ../sass/node-sass.sass */
#content-area .file img {
  border: none;
  padding: 0;
}

/* line 10, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_0 img {
  position: absolute;
  bottom: 0;
  right: -25px;
}
/* line 14, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_0 .group-right {
  margin-top: 60px;
  width: 42%;
  margin-left: 3%;
}
/* line 18, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_0 .group-right p {
  width: 80%;
}

/* line 21, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_1 img {
  position: absolute;
  bottom: -36px;
  right: 60px;
}

/* line 26, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_3 .group-right {
  margin-top: 50px;
  width: 42%;
  margin-left: 2%;
}
/* line 30, ../sass/node-sass.sass */
#views_slideshow_cycle_div_front_header_slider-block_2_3 .group-right p {
  width: 80%;
}

/*Detailansicht Projekt */
/* line 36, ../sass/node-sass.sass */
.node-type-projekt .field-name-field-project-text-secondary {
  margin: 0 0 0 -10px;
  padding: 0 0 0 20px;
  color: #999999;
  background: url(../images/icons/quote-left.png) no-repeat 0 38px;
  font-family: georgia, times, serif;
}
/* line 42, ../sass/node-sass.sass */
.node-type-projekt .field-name-field-project-text-secondary .field-items {
  background: url(../images/icons/quote-right.png) no-repeat right bottom;
  padding: 0 15px 0 0;
}
/* line 45, ../sass/node-sass.sass */
.node-type-projekt .field-name-field-project-text-secondary p {
  font-size: 1.3em;
  line-height: 1.5em;
}
/* line 48, ../sass/node-sass.sass */
.node-type-projekt .field-name-field-project-text-secondary h2 {
  color: #4981d1;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.6em;
}
/* line 53, ../sass/node-sass.sass */
.node-type-projekt .field-name-field-project-text-secondary h3 {
  font-size: 1.4em;
  color: #777777;
}
/* line 56, ../sass/node-sass.sass */
.node-type-projekt .field-name-body {
  padding: 0 0 0 10px;
  color: #555555;
}
/* line 59, ../sass/node-sass.sass */
.node-type-projekt .field-name-body h2 {
  color: #ea5b0c;
  margin-bottom: 5px;
  font-size: 1.6em;
}
/* line 63, ../sass/node-sass.sass */
.node-type-projekt .field-name-body h3 {
  font-size: 1.48em;
  color: #777777;
}

/*---------------------------------------------------------
 **************  Projekte Übersicht  **********************
 * ---------------------------------------------------------- */
/* line 71, ../sass/node-sass.sass */
.page-projekte #content-inner {
  width: 940px;
  margin-right: 0;
}
/* line 75, ../sass/node-sass.sass */
.page-projekte .view-projekte-overview .views-row {
  float: left;
  margin: 0 20px 25px 0;
}
/* line 78, ../sass/node-sass.sass */
.page-projekte .view-projekte-overview .views-row .views-field-field-project-images {
  margin-right: 30px;
}
/* line 80, ../sass/node-sass.sass */
.page-projekte .view-projekte-overview .view-header {
  width: 700px;
  margin-bottom: 22px;
}
/* line 83, ../sass/node-sass.sass */
.page-projekte .view-projekte-overview h4 {
  font-size: 1.3em;
  margin-top: 3px;
  padding-left: 2px;
}
