@charset "UTF-8";
/*-------------------------------- */
/*-------------------------------- */
/*------ Layout all Devices ------ */
/*-------------------------------- */
/*-------------------------------- */
/*Projekt-Slider auf Hompage */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000313}}
.front #content-area .view-projekte-overview {
  *zoom: 1;
  position: relative;
  width: 426px;
  overflow: hidden;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.front #content-area .view-projekte-overview:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000319}}
.front #content-area .view-projekte-overview img {
  padding: 0;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 6px #cccccc;
  -moz-box-shadow: 2px 2px 6px #cccccc;
  box-shadow: 2px 2px 6px #cccccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000323}}
.front #content-area .view-projekte-overview .skin-default {
  width: 426px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000325}}
.front #content-area .view-projekte-overview #views_slideshow_cycle_teaser_section_projekte_overview-block_2,
.front #content-area .view-projekte-overview .view-projekte-overview .views-slideshow-controls-top {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000328}}
.front #content-area .view-projekte-overview #views_slideshow_cycle_main_projekte_overview-block_2 {
  padding: 0 33px 0 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000330}}
.front #content-area .view-projekte-overview .views-slideshow-cycle-main-frame-row {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000332}}
.front #content-area .view-projekte-overview .views-slideshow-cycle-main-frame-row .views-row {
  padding-right: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000334}}
.front #content-area .view-projekte-overview .views-slideshow-controls-text-previous {
  position: absolute;
  top: 95px;
  z-index: 20;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000338}}
.front #content-area .view-projekte-overview .views-slideshow-controls-text-previous a {
  text-indent: -9999px;
  display: inline-block;
  width: 30px;
  height: 45px;
  background: url(../images/new-adapted/slideshow-arrow-left.png) no-repeat;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000344}}
.front #content-area .view-projekte-overview .views-slideshow-controls-text-pause {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000346}}
.front #content-area .view-projekte-overview .views-slideshow-controls-text-next {
  position: absolute;
  right: 0;
  z-index: 20;
  top: 95px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000351}}
.front #content-area .view-projekte-overview .views-slideshow-controls-text-next a {
  text-indent: -9999px;
  display: inline-block;
  background: url(../images/new-adapted/slideshow-arrow-right.png) no-repeat;
  width: 30px;
  height: 45px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000357}}
.front #content-area .view-projekte-overview .views-field-title {
  margin-left: 13px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000359}}
.front #content-area .view-projekte-overview .views-field-title h3 {
  font-size: 1.4em;
  margin: 4px 0 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000363}}
.front #content-area .view-projekte-overview .views-field-field-pr-short-description .field-content {
  margin-left: 13px;
  font-size: 11px;
  line-height: 1.4;
  color: #999999;
  width: 86%;
}

/*Tooltips für Projektübersicht */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000372}}
.bt-wrapper img {
  display: block;
  border: 1px solid #dddddd;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000375}}
.bt-wrapper h3 {
  font-size: 16px;
  margin-top: 7px;
  margin-bottom: 2px;
  color: #666666;
  padding-left: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000384}}
#footer .bt-wrapper h3 {
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000389}}
.page-projekte .bt-wrapper h3, .page-projekte .bt-wrapper h3 a {
  padding: 0;
  margin: 3px 0;
  font-size: 1.6em;
  color: #ed8137;
}

/* Gallery in Sidebar second */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\0000396}}
#sidebar-second .view-gallery-list img,
#footer .view-gallery-list img {
  margin: 0 12px 12px 0;
}

/*Footer News Block 1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003104}}
#footer #block-views-Newsblock_Startseite-block_2 .views-row, #footer #block-views-Newsblock_Startseite-block_3 .views-row {
  padding-top: 7px;
  padding-bottom: 3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003107}}
#footer #block-views-Newsblock_Startseite-block_2 .views-row a, #footer #block-views-Newsblock_Startseite-block_3 .views-row a {
  display: block;
  color: #848484;
  line-height: 1.4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003111}}
#footer #block-views-Newsblock_Startseite-block_2 .views-row a:hover, #footer #block-views-Newsblock_Startseite-block_3 .views-row a:hover {
  text-decoration: none;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003114}}
#footer #block-views-Newsblock_Startseite-block_2 .views-row-last, #footer #block-views-Newsblock_Startseite-block_3 .views-row-last {
  border-bottom: none;
}

/*Gallery View Page */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003120}}
.page-galerien .view-gallery-list .views-row {
  float: left;
  margin: 0 30px 30px 0;
}

/*News-Übersicht */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003126}}
.view-News-Hauptseite .views-row, .page-taxonomy-term .view-taxonomy-term .views-row {
  padding-bottom: 20px;
}

/*Gallery View on Project Node */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003131}}
.node-type-projekt {
  /*Übersicht Projekte im Footer Projekt Full Node */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003132}}
.node-type-projekt .view-header {
  margin-top: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003134}}
.node-type-projekt .view-header h2 {
  color: #ed8137;
  color: #777777;
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 15px;
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003142}}
.node-type-projekt #content-area .view-images-project {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.node-type-projekt #content-area .view-images-project:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003144}}
.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003146}}
.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main img {
  padding: 0;
  border: 1px solid #cccccc;
  box-shadow: #e7e7e7 0px 2px 5px;
  height: auto;
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003154}}
.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom img {
  padding: 0;
  border: 1px solid #c9c9c9;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003157}}
.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom img:hover {
  cursor: pointer;
  cursor: hand;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003160}}
.node-type-projekt .views-slideshow-pager-field-item {
  margin-bottom: 16px;
  float: left;
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003164}}
.node-type-projekt .views-slideshow-pager-field-item img {
  height: auto;
  width: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003170}}
.node-type-projekt #footer .footer-inner {
  padding-bottom: 15px;
  padding-top: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003174}}
.node-type-projekt #footer .view-projekte-overview {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.node-type-projekt #footer .view-projekte-overview:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003176}}
.node-type-projekt #footer .view-projekte-overview .views-row {
  float: left;
  margin: 0 15px 15px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003179}}
.node-type-projekt #footer .view-projekte-overview .views-row img {
  border: 1px solid #dddddd;
}

/*Projekt-Slider auf Hompage */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003186}}
.front #content-area .view-projekte-overview {
  *zoom: 1;
  position: relative;
  width: 426px;
  overflow: hidden;
  margin-top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/usr\/lib\/ruby\/gems\/1\.9\.1\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
.front #content-area .view-projekte-overview:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003192}}
.front #content-area .view-projekte-overview img {
  padding: 0;
  box-shadow: 2px 2px 6px #cccccc;
  margin: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003196}}
.front #content-area .view-projekte-overview .skin-default {
  width: 426px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003198}}
.front #content-area #views_slideshow_cycle_teaser_section_projekte_overview-block_2, .front #content-area .views-slideshow-controls-top {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003200}}
.front #content-area #views_slideshow_cycle_main_projekte_overview-block_2 {
  padding: 0 33px 0 31px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003202}}
.front #content-area .views-slideshow-cycle-main-frame-row {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003204}}
.front #content-area .views-slideshow-cycle-main-frame-row .views-row {
  padding-right: 10px;
}

/*Zitat der Woche View */
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003210}}
.view-zitat-der-woche .views-row .field-name-body {
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 8px;
  padding-bottom: 5px;
  background: #f8f8f8 url(../images/quote-top.png) no-repeat 8px 8px;
  border: 1px solid #ebebeb;
  margin-bottom: 8px;
  margin-top: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003219}}
.view-zitat-der-woche .views-row .field-name-body p {
  font-family: georgia, times, serif;
  font-size: 1.6em;
  font-style: italic;
  color: #a1a1a1;
  line-height: 1.35;
  background: url(../images/quote-bottom.png) no-repeat bottom right;
  padding-right: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003227}}
.view-zitat-der-woche .views-row .field-name-body .field-name-zitat-description {
  float: left;
  display: inline;
  padding-left: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003231}}
.view-zitat-der-woche .views-row .field-name-body .field-name-zitat-description p {
  font-size: 0.83em;
  line-height: 1.35;
  color: #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003235}}
.view-zitat-der-woche .views-row .field-name-body .field-name-field-zitat-author {
  display: inline;
  float: right;
  line-height: 10px;
  padding-right: 30px;
  text-align: right;
  width: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003242}}
.view-zitat-der-woche .views-row .field-name-body .field-name-field-zitat-author .field-item {
  font-size: 0.83em;
  line-height: 1.35;
  color: #999999;
}

/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Tablet --------- */
/*-------------------------------- */
/*-------------------------------- */
@media (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003253}}
  body {
    /*Detailansicht Projekte */
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003264}}
  body.node-type-projekt #content-area .view-images-project .views-slideshow-pager-field-item img {
    width: 123px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003267}}
  body.node-type-projekt #content-area .view-header h2 {
    font-size: 23px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003270}}
  body .view-projekte-overview .views-row {
    margin: 0 25px 20px 0;
  }
}

/*-------------------------------- */
/*-------------------------------- */
/*-------- Layout Desktop -------- */
/*-------------------------------- */
/*-------------------------------- */
@media (min-width: 750px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003287}}
  body.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main {
    float: left;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003289}}
  body.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main img {
    height: auto;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003292}}
  body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom {
    float: left;
    margin-left: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003295}}
  body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
    margin-bottom: 16px;
    float: none;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003299}}
  body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
    height: auto;
    width: auto;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003302}}
  body.node-type-projekt #content-area .view-images-project #widget_pager_bottom_images_project-entity_view_1 {
    margin-bottom: -20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003305}}
  body .view-projekte-overview .views-row {
    margin: 0 25px 20px 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003310}}
  body #footer #block-views-Newsblock_Startseite-block_2 .views-row, body #footer #block-views-Newsblock_Startseite-block_3 .views-row {
    border-bottom: 1px solid #dadada;
    padding-top: 7px;
    padding-bottom: 7px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003314}}
  body #footer #block-views-Newsblock_Startseite-block_2 .views-row.views-row-last, body #footer #block-views-Newsblock_Startseite-block_3 .views-row.views-row-last {
    border-bottom: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003287}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003289}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project .views_slideshow_cycle_main img {
  height: auto;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003292}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom {
  float: left;
  margin-left: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003295}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  margin-bottom: 16px;
  float: none;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003299}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project .views-slideshow-controls-bottom .views-slideshow-pager-field-item img {
  height: auto;
  width: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003302}}
.lt-ie9 body.node-type-projekt #content-area .view-images-project #widget_pager_bottom_images_project-entity_view_1 {
  margin-bottom: -20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003305}}
.lt-ie9 body .view-projekte-overview .views-row {
  margin: 0 25px 20px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003310}}
.lt-ie9 body #footer #block-views-Newsblock_Startseite-block_2 .views-row, .lt-ie9 body #footer #block-views-Newsblock_Startseite-block_3 .views-row {
  border-bottom: 1px solid #dadada;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/cygdrive\/f\/wamp\/www\/rufzeichen\/rufzeichen\/sites\/all\/themes\/dandelion_rufzeichen\/sass\/views\.sass}line{font-family:\00003314}}
.lt-ie9 body #footer #block-views-Newsblock_Startseite-block_2 .views-row.views-row-last, .lt-ie9 body #footer #block-views-Newsblock_Startseite-block_3 .views-row.views-row-last {
  border-bottom: 0;
}
