#sidebar-second .view-gallery-list img,
#footer .view-gallery-list img {
  margin: 0 12px 12px 0;
}
/** Footer News Block 1 **/
#footer #block-views-Newsblock_Startseite-block_2 .views-row,
#footer #block-views-Newsblock_Startseite-block_3 .views-row {
	border-bottom: 1px solid #dadada;
	padding-top: 7px;
	padding-bottom: 7px;
}
#footer #block-views-Newsblock_Startseite-block_2 .views-row-last,
#footer #block-views-Newsblock_Startseite-block_3 .views-row-last {
  border-bottom: none;
}
#footer #block-views-Newsblock_Startseite-block_2 .views-row a,
#footer #block-views-Newsblock_Startseite-block_3 .views-row a {
	display: block;
	color: #848484;
}
#footer #block-views-Newsblock_Startseite-block_2 .views-row a:hover,
#footer #block-views-Newsblock_Startseite-block_3 .views-row a:hover {
	text-decoration: none;
	color: #999;
}

/** Gallery View Footer **/
#footer .view-gallery-list .views-row {
  float: left;
}
/** Gallery View Page **/
.page-galerien .view-gallery-list .views-row {
  float: left;
  margin:0 30px 30px 0;		
}
/** News-Übersicht **/
.view-News-Hauptseite .views-row {
  padding-bottom: 20px;
}

/** Gallery View on Project Node **/
.node-type-projekt #content-area .view-images-project img {
  padding: 0;
  border: 1px solid #ccc;
  box-shadow: #e7e7e7 0px 2px 5px;
}

.node-type-projekt .view-images-project:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
* html .node-type-projekt .view-images-project:after {
  height: 1%;
}
/* IE7 */
*:first-child + html .node-type-projekt .view-images-project:after {
  min-height: 1%;
}
.node-type-projekt .view-images-project .views-slideshow-controls-bottom img:hover {
  cursor: pointer;
  cursor: hand;
}
.node-type-projekt .view-images-project .views_slideshow_cycle_main,
.node-type-projekt .view-images-project .views-slideshow-controls-bottom {
  float: left;
}
.node-type-projekt .view-images-project .views_slideshow_cycle_main .colorbox img {
  cursor: url(/sites/all/themes/dandelion_rufzeichen/images/new-adapted/zoomin.cur), url(../images/new-adapted/zoomin.cur), default;
}
.node-type-projekt .view-images-project .views-slideshow-controls-bottom {
  margin-left: 40px;
}
.node-type-projekt .view-images-project .views-slideshow-controls-bottom .views-slideshow-pager-field-item {
  margin-bottom: 15px;
}
/** Übersicht Projekte im Footer Projekt Full Node **/
.node-type-projekt .view-projekte-overview .views-row {
  float: left;
  margin: 0 25px 20px 0;
}
.node-type-projekt .view-projekte-overview .views-row img {
  border: 1px solid #ddd;
}
