/*Projekt-Slider auf Hompage */
/* line 6, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview {
  position: relative;
  width: 426px;
  overflow: hidden;
  margin-top: 5px;
}
/* line 11, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview img {
  padding: 0;
  margin: 10px;
  -webkit-box-shadow: 2px 2px 6px #cccccc;
  -moz-box-shadow: 2px 2px 6px #cccccc;
  box-shadow: 2px 2px 6px #cccccc;
}
/* line 15, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .skin-default {
  width: 426px;
}
/* line 17, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 23, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview #views_slideshow_cycle_teaser_section_projekte_overview-block_2,
.front #content-area .view-projekte-overview .view-projekte-overview .views-slideshow-controls-top {
  display: block;
}
/* line 26, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview #views_slideshow_cycle_main_projekte_overview-block_2 {
  padding: 0 33px 0 31px;
}
/* line 29, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-cycle-main-frame-row .views-row {
  padding-right: 10px;
}
/* line 31, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-controls-text-previous {
  position: absolute;
  top: 95px;
  z-index: 20;
}
/* line 35, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-controls-text-previous a {
  text-indent: -9999px;
  display: inline-block;
  width: 30px;
  height: 45px;
  background: url(../images/new-adapted/slideshow-arrow-left.png) no-repeat;
}
/* line 41, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-controls-text-pause {
  display: none;
}
/* line 43, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-controls-text-next {
  position: absolute;
  right: 0;
  z-index: 20;
  top: 95px;
}
/* line 48, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-slideshow-controls-text-next a {
  text-indent: -9999px;
  display: inline-block;
  background: url(../images/new-adapted/slideshow-arrow-right.png) no-repeat;
  width: 30px;
  height: 45px;
}
/* line 54, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-field-title {
  margin-left: 13px;
}
/* line 56, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-field-title h3 {
  font-size: 1.4em;
  margin: 4px 0 0px;
}
/* line 60, ../sass/views-sass.sass */
.front #content-area .view-projekte-overview .views-field-field-pr-short-description .field-content {
  margin-left: 13px;
  font-size: 11px;
  line-height: 1.4;
  color: #999999;
  width: 86%;
}
