@import "variables-mixins.sass"

/*--------------------------------*/
/*--------------------------------*/
/*------ Layout all Devices ------*/
/*--------------------------------*/
/*--------------------------------*/

#admin-menu ul li 
  font-size: 11px


/** End Admin Menu **/

body, html   
  height: 100%
  width: 100%

body 
  font-family: Verdana, Geneva, sans-serif
  font-size: 12px
  color: #6a6a6a
  line-height: 1.6em
  background-color: #aaa9a9
  letter-spacing: 0
  outline: 0
  font-size: 12px
  vertical-align: baseline
  letter-spacing: 0
 
#page-wrapper 
  min-height: 100%
  height: auto!important
  height: 100%
  width: 100%

#page 
  +container
  margin: auto
  padding: 0
  background: white
  min-height: 750px
  height: auto!important
  height: 750px
  /*border: 1px dashed #555*/
  box-shadow: 0px 0px 10px #888


// #site 
//   height: auto
//   width: 980px
//   text-align: left
//   padding: 0px
//   background-color: #FFF
//   float: left
//   margin-top: 15px
//   margin-bottom: 15px


#line-top 
  background-color: #535353
  border-bottom: 1px solid #272727
  height: 5px


.center 
  height: auto
  margin: auto
  text-align: left
  padding: 0px

#content 
  padding-top: 30px
  clear: left
  float: left

#sidebar-second 
  clear: left
  float: none


#header-top
  +legacy-pie-clearfix 
  background: #5a5a5a url(../images/mobile-menu-background.png) 100% repeat-y
#main-menu-mobile 
  display: none
  text-transform: uppercase
  #block-menu-primary-links
    ul
      margin-right: -3px
      margin-left: -1px 
      li
        display: inline
        float: left 
        width: 49.5%
        margin: 0 
        padding: 0
        text-align: center
        border: 1px solid #888
        border-right: 0
        margin-top: -1px
        margin-top: -1px
        a 
          display: block
          font-size: 1.3em
          line-height: 3.5
          &:hover, &.active 
            background: #eee
            text-decoration: none
            color: $link-active-color
         

#navigation 
  display: none
  text-transform: uppercase

#header 
  display: none
  padding: 0 $smartphone-grid-padding
  


#header, .page-search #header 
  height: 140px
  background: url(../images/new-adapted/header-schreibmaschine.jpg) no-repeat
  background: url(../images/new-adapted/header-asian-cars.jpg) no-repeat
  position: relative
  #block-search-form
    z-index: 22
    float: right
    margin: 55px 45px 0 0      
    input#edit-submit, input.form-submit
      background: $primary-orange-text
      float: left
    input.form-text
      border: 1px solid #999
      width: 200px

#mobile-menu-region
  height: 50px
  .mobile-menu-button
    float: right
    width: 53px
    height: 100%
    a 
      background: url(../images/mobile-menu.png) no-repeat 5px center
      display: block
      height: 40px
      width: 40px
      margin-top: 5px
      text-decoration: none

/** Suchbox Position auf Projektseiten */
.node-type-projekt, .page-projekte, .page-node-192
  #header 
    #block-search-form
      margin: 19px 53px 0 0
      input#edit-submit
        float: right
      input.form-text
        margin-right: 4px
      
.front
  #header 
    display: none
    
        


#header-top-line 
  position: absolute
  height: 6px
  width: 100%
  background: rgba(50, 50, 50, 0.4)
    

.front #header 
  height: 400px
  background: none

#logo 
  padding: 12px $smartphone-grid-padding 5px
  float: left
  position: relative
  max-width: 50%
  img 
    max-width: 130px

#site-slogan 
  display: none
  


/*---------------------------- LOGO ----------------------------*/
#logo-container 
  width: 160px
  float: left
  margin-top: 15px
  margin-left: 40px
  a
    width: 160px
    height: 71px
    display: block
    background-image: url(images/logo.png)
    background-repeat: no-repeat 

/*----------------------- Main Menu -----------------------------*/ 


/*-------------------------CONTENT----------------------------*/
#main 
  padding: 0 $smartphone-grid-padding 20px
  

.content-gradient 
  background-image: url(../images/content_bg.png)
  background-repeat: repeat-x
  background-position: top

#content-inner 
  height: auto
  min-height: 200px
  margin-top: 0


#sidebar-second 
  height: auto
  margin-bottom: 30px
  margin-top: 36px
  min-height: 200px
  background: none
  clear: none
  float: left
  h2
    &.block-title
      font-family: $font-family-headlines
      font-size: 16px
      font-style: normal
      color: #484848
      border-bottom: 1px solid #ebebeb
      margin-bottom: 0
      padding-bottom: 0
      text-transform: uppercase


/*--- Footer ---*/

#footer 
  padding: 0 $smartphone-grid-padding
  color: #9e9e9d
  font-size: 12px
  height: auto
  font-family: Georgia, "Times New Roman", Times, serif
  font-style: italic
  line-height: 1.5em
  border-top: 1px solid #E6E6E6
  margin: 0
  background: #efefef
  .footer-inner 
    padding: 20px 0 17px
  p 
    margin-top: 10px

/* Footer on front page */
.front
  #footer 
    .footer-inner
      padding: 20px 0 17px

/* Footer bottom */
#footer-bottom 
  padding: 0 $smartphone-grid-padding
  background-color: #363636
  display: block
  text-align: center
  span.rufzeichen-copyright 
    display: block
    margin-bottom: 1px
  span.thanks-theme 
    display: block
    margin-bottom: 8px
  .footer-bottom-inner 
    font-size: 12px
    font-family: Georgia, "Times New Roman", Times, serif
    font-style: italic
    padding-top: 21px
    padding-bottom: 21px
    color: #a3a3a3
  a
    color: #e0e0e0
  #footer-bottom-region 
    ul
      text-align: center
      li
        display: inline

/*--------------------------------*/
/*--------------------------------*/
/*- Layout Smartphone max 280px --*/
/*--------------------------------*/
/*--------------------------------*/

body
  +at-breakpoint($breakpoint-tiny-smartphone)
    #main-menu-mobile 
      #block-menu-primary-links
        ul
          li
            float: none
            display: block
            width: 99.5%
    #logo 
      img 
        max-width: 100%

/*--------------------------------*/
/*--------------------------------*/
/*-------- Layout Tablet ---------*/
/*--------------------------------*/
/*--------------------------------*/

body
  +at-breakpoint($breakpoint-tablet)

  

/*--------------------------------*/
/*--------------------------------*/
/*-------- Layout Desktop --------*/
/*--------------------------------*/
/*--------------------------------*/

body
  +at-breakpoint($breakpoint-desktop-with-ie-fallback)
    #page-wrapper 
      background: #aaa url(../images/patterns/pattern16-b.png)
      padding: 26px 0 23px

    #header
      display: block
      #block-menu-primary-links 
        display: none

    #header-top 
      background: transparent
      padding: 0 $smartphone-grid-padding
      display: block
      max-height: none
      height: 100px

    &.front 
      #header-top 
        background: #5a5a5a
        height: 80px
        padding-top: 2px
  
    #header-top, #header, #main, #footer, #footer-bottom 
      padding: 0 $desktop-grid-padding
      margin: 0 (-$desktop-grid-padding)

    #main 
      padding-bottom: 30px

    #page 
      $container-style: static
      +container
      margin: auto

    #logo
      width: 280px
      padding: 27px 0 0 0px 
      img
        max-width: none

    &.front #logo 
      padding-left: 0px
      padding-top: 17px

    #site-slogan 
      display: block
      position: absolute
      top: 60px
      left: 33px
      font-size: 14px
      font-family: Georgia, "Times New Roman", Times, serif
      font-style: italic
      color: #aaa
      font-size: 1em

    &.front #site-slogan 
      left: 35px
      top: 49px
      color: #ccc

    // Hide region for mobile menu
    #mobile-menu-region
      display: none

    /*------------------------- Main Menu ---------------------------------*/
    #navigation 
      display: block
      float: right
      margin-top: 45px
      max-width: 620px
      width: auto!important
      width: 620px
      background: none
      ul
        text-align: right 
        li 
          display: inline
          a
            padding-right: 11px
            margin-right: 2px
            padding-left: 7px
            font-size: 13px
            line-height: 0.2em
            color: #535353
            height: 10px
            font-style: normal
            letter-spacing: 1px
            background: url(../images/new-adapted/menu-background.jpg) no-repeat right 6px 
            &:hover 
              color: $primary-orange-text
              background: url(../images/new-adapted/menu-background-orange.png) no-repeat right 6px
              text-decoration: none
            &.active-trail
              color: $primary-orange-text
              background: url(../images/new-adapted/menu-background-orange.png) no-repeat right 6px
          &.selected
            a
              color: #535353
        ul 
          display: none

    #content
      +span-columns(9, 12)
      +legacy-pie-clearfix
    &.no-sidebars 
      #content 
        +span-columns(12, 12)
    #content-inner 
      margin-right: 40px
    #sidebar-second 
      +span-columns(3 omega, 12)

    /* Startseite */
    &.front
      #header 
        display: block
        padding: 0        
        /** Suchbox Position auf Startseite */
        #block-search-form
          margin: 27px 30px 0 0
          input#edit-submit
            background: #ddd
            padding: 0px 5px
            line-height: 1
            height: 24px
            color: #333
            float: right
          input.form-text
            border: 1px solid #666
            width: 95px
            background: #eee
            padding: 0 5px
            margin-right: 3px

            /*--- Front Navigation ---*/
      #navigation
        margin-top: 30px 
        ul 
          li 
            a 
              color: #fff
              background-image: url(../images/new-adapted/menu-background-white.png)
              &:hover 
                color: $primary-orange-text
                background: url(../images/new-adapted/menu-background-orange.png) no-repeat right 6px

    /* Footer bottom */
    #footer-bottom 
      text-align: left
      height: 62px
      padding-bottom: 0
      span.rufzeichen-copyright 
        display: inline 
        margin: 0
        padding-right: 15px
      span.thanks-theme 
        display: inline
        margin: 0
      #footer-left 
        float: left
        width: 420px
      #footer-bottom-region 
        float: right
        width: 400px
        ul
          text-align: right


  

  

