@import variables-mixins.sass

/*** Styling für Dateianhänge ***/
#content-area
  .file
    img
      +image-no-border 

#views_slideshow_cycle_div_front_header_slider-block_2_0
  img
    position: absolute
    bottom: 0
    right: -25px
  .group-right 
    margin-top: 60px
    width: 42%
    margin-left: 3%
    p 
      width: 80%
#views_slideshow_cycle_div_front_header_slider-block_2_1
  img
    position: absolute
    bottom: -36px
    right: 60px
#views_slideshow_cycle_div_front_header_slider-block_2_3
  .group-right 
    margin-top: 50px
    width: 42%
    margin-left: 2%
    p 
      width: 80%

/** Detailansicht Projekt **/

.node-type-projekt
  .field-name-field-project-text-secondary
    // padding: 0 15px 10px
    // background: #f7f7f7
    // background: #EFF5FC
    // border: 1px solid #e5e5e5
    font-family: $font-family-headlines
    color: #888
    background: url(../images/icons/quote-left.png) no-repeat 2px 42px
    .field-items
      background: url(../images/icons/quote-right.png) no-repeat right bottom
      margin-right: 30px
    p
      font-size: 1.25em
      line-height: 1.5em
      font-style: italic
      padding: 0 20px 0 30px

    h3 
      //color: #EA5B0C
      color: #4981D1
      margin-top: 0
      //font-size: 1.8em
      //border-bottom: 1px solid #F7B28C

  .field-name-body
    h3 
      //color: #0586C1
      color: #ea5b0c
    color: #555
