@import variables-mixins.sass

/*** Styling für Dateianhänge ***/
#content-area
  .file
    img
      +image-no-border 

#views_slideshow_cycle_div_front_header_slider-block_2_0
  img
    position: absolute
    bottom: 0
    right: -25px
  .group-right 
    margin-top: 60px
    width: 42%
    margin-left: 3%
    p 
      width: 80%
#views_slideshow_cycle_div_front_header_slider-block_2_1
  img
    position: absolute
    bottom: -36px
    right: 60px
#views_slideshow_cycle_div_front_header_slider-block_2_3
  .group-right 
    margin-top: 50px
    width: 42%
    margin-left: 2%
    p 
      width: 80%