@import "compass/css3"
@import "susy"

$legacy-support-for-ie: true

@mixin image-no-border 
  border: none
  padding: 0

// Colors
$primary-orange-text: #ED8137

// Font Sizes
$font-size-base: 12px
$font-size-plus-one: 1.1em
$font-size-plus-two: 1.2em
$font-size-minus-one: 0.93em
$font-size-minus-two: 0.83em

// Font Families
$font-family-main: verdana,arial,helvetica,sans-serif
$font-family-headlines: georgia,times,serif

