@import variables-mixins.sass

/** Tooltips für Projektübersicht **/
.bt-wrapper
  img 
    display: block
    border: 1px solid #ddd
  h3
    font-size: 16px
    margin-top: 7px
    margin-bottom: 2px
    color: #666
    padding-left: 3px

#footer 
  .bt-wrapper 
    h3 
      font-style: normal

.page-projekte
  .bt-wrapper
    h3, h3 a 
      padding: 0
      margin: 3px 0
      font-size: 1.6em
      color: $primary-orange-text
