@import "variables-mixins.sass"

/** Projekt-Slider auf Hompage **/
.front
  #content-area
    .view-projekte-overview
      position: relative
      width: 426px
      overflow: hidden
      margin-top: 5px
      img
        padding: 0
        margin: 10px
        +box-shadow(2px 2px 6px #ccc)      
      .skin-default
        width: 426px
      &:after
        content: "."
        display: block
        height: 0
        clear: both
        visibility: hidden
      #views_slideshow_cycle_teaser_section_projekte_overview-block_2,
      .view-projekte-overview .views-slideshow-controls-top
        display: block
      #views_slideshow_cycle_main_projekte_overview-block_2
        padding: 0 33px 0 31px
      .views-slideshow-cycle-main-frame-row
        .views-row
          padding-right: 10px
      .views-slideshow-controls-text-previous
        position: absolute
        top: 95px
        z-index: 20
        a
          text-indent: -9999px
          display: inline-block
          width: 30px
          height: 45px
          background: url(../images/new-adapted/slideshow-arrow-left.png) no-repeat
      .views-slideshow-controls-text-pause
        display: none
      .views-slideshow-controls-text-next
        position: absolute
        right: 0
        z-index: 20
        top: 95px
        a 
          text-indent: -9999px
          display: inline-block
          background: url(../images/new-adapted/slideshow-arrow-right.png) no-repeat
          width: 30px
          height: 45px